body {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0px;
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

#headerMenu {
  display: none;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  display: none;
}
.popup-form h2 {
  margin-top: 0;
  font-size: 18px;
}
.popup-form label {
  display: block;
  margin: 10px 0 5px;
}
.popup-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.popup-form button {
  width: 100%;
  background-color: #0eb3c7;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#changePeripherals {
  background-color: #ff7273;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
  position: fixed;
  top: 0;
  width: 3in; /* Set width to 3 inches */
  left: 50%;
  transform: translateX(-50%); /* Center the element */
  z-index: 999;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #ff4f1f;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.presentation_on {
            display: block;
        }
        .participant_uri {
            display: inline-block;
            padding: 0.2em;
            background-color: none;
        }
        .participant_uri_speaking {
            display: inline-block;
            padding: 0.2em;
            background-color: lightgrey;
        }

        .roster_list {
            list-style-type: none;
            display: inline-block;
            width: 32em;
            float: left;
            text-align: center;
            /* border: 1px solid; */
            padding: 10px 10px;
        }
        .roster_entry {
            text-align: left;
            border:1px solid gray;
            padding: 3px;
            margin: 3px;
        }
        .participant_action {
            /*padding: 0.2em;*/
        }
        .conference_action {
            display: inline-block;
            /* float: left; */
            /*padding: 1em;*/
        }
        .hide {
            display: none;
        }

        .currentoverlaytext {
        background-color: #000000;
        color: #FFFFFF;
        border: 0px;
        padding: 2px;
        text-align:center;
        }
      .regForm {
          position: absolute;  /* Allows precise positioning */
          top: 2in;  /* Moves it 2 inches from the top */
          left: 50%;  /* Centers horizontally */
          transform: translateX(-50%);  /* Ensures proper centering */
          text-align: center;  /* Centers inline elements */
          width: max-content;  /* Adjusts to fit content */
      }
      
      .clabel {
          display: inline-block;
          width: 170px;
          text-align: left;
          font-weight: bold;
          padding-right: 5px;
      }
      
      .cinput {
          display: inline-block;
      }

        .ia {
        display: inline-block;
        float: left;
        }

        #fixed-div {
            position: fixed;
            top: 1em;
            right: 1em;
        }

        .colcontainer{
        column-count: 2;
        column-gap: 20px;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        }

        .green {
        color:#198b16;
        }
        .pexorange {
        color:#F28630;
        }

        .red {
        color:#FF0000;
        }

        .yellow {
        color:#FFDB00;
        }

        .disabled_action {
            color: lightgrey;
        }

        .chatbox {
            font-family:tahoma;
            font-size:12px;
            color:black;
            border: 1px teal solid;
            height: 225px;
            width: 100%;
            overflow: scroll;
            float:left;
        }

        .message {
        }

        .message_origin {
            background-color: lightgrey;
            /*display: inline-block;*/
            /*padding-right: 3px;*/
        }

        #layout_canvas {
            border: 1px solid black;
        }

        .autocomplete-suggestions {
            text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

            /* core styles should not be changed */
            position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
        }
        .autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
        .autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
        .autocomplete-suggestion.selected { background: #f0f0f0; }

        .infomodal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        .infomodal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 300px;
        }

        .infomodal-content-list {
            list-style-type: none;
        }

        /* The Close Button */
        .infomodal-close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .infomodal-close:hover,
        .infomodal-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        }

        .cleanUpButton {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #0a2136;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            position: absolute;
            bottom: 0px;
            left: 0;
        }

      /* New for controls */
      .controls {
          border-top: 1px solid #fff;
          display: none; /* Hide entire controls by default */
      }
      
      .controls li {
          float: left;
          display: inline-block;
          width: 14%;
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
          vertical-align: center;
      }
      
      .controls li:nth-child(4) { width: 12%; }
      .controls li:nth-child(6) { width: 18%; }
      .controls li:last-child { border-right: none !important; }
      
      @media only screen and (max-width: 1050px) {
          .controls li,
          .controls li:nth-child(4),
          .controls li:nth-child(6) { width: 33.3333333%; }
          
          .controls li:nth-child(3n) { border-right: none; }
          .controls li:last-child { width: 100%; }
      }
      
      @media only screen and (max-width: 550px) {
          .controls li,
          .controls li:nth-child(4),
          .controls li:nth-child(6) {
              width: 100%;
              border-right: none;
          }
      }
      
      /* Keep buttons hidden until needed */
      .controls a {
          font-family: 'pexip', Verdana;
          width: 100%;
          padding: 20px 10px;
          text-align: center;
          font-weight: 400;
          font-size: 0.9em;
          cursor: pointer;
          background: #d5d5d5;
          height: 56px;
          transition: background .3s, color .3s;
          vertical-align: middle;
      }
      
      .controls a:hover,
      .controls a.active {
          background: #0EBEC7;
          color: #fff;
      }
      
      /* Inactive buttons */
      .controls .inactive {
          color: #888;
          cursor: default;
      }
      
      .controls .inactive:hover {
          color: #888;
          background: #d5d5d5;
      }
      
      /* Icons for controls */
      .controls a:before {
          position: relative;
          font-family: 'pexip', Verdana;
          margin-right: 10px;
          font-size: 1.1em;
          top: 2px;
          font-weight: 300;
      }
      
      /* Specific icons */
      .controls .btn-selfview:before { content: '\e18c'; }
      .controls .btn-audio:before { content: '\e38f'; }
      .controls .btn-audio.selected:before { content: '\e3a4'; }
      .controls .btn-video:before { content: '\e2d9'; }
      .controls .btn-video.selected:before { content: '\e2da'; }
      .controls .btn-fullscreen:before { content: '\e1bf'; }
      .controls .btn-disconnect:before { content: '\e290'; }

}
#controls ul {
    display: flex;
    justify-content: center;
    align-itens: center;
    padding: 0;
    margin: 0;
    gap: 15px;
}

#controls ul li {
    display: inline-block;
    justify-content: center;
    align-itens: center;
}

.webrtcbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0eb3c7; /* Button background color */
    border-radius: 50%; /* Makes it round */
    color: white;
    font-size: 18px; /* Adjust icon size */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.webrtcbutton:hover {
    background-color: #0a2136; /* Darker color on hover */
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.webrtcbutton i {
    font-size: 24px; /* Adjust the size of the icon */
}

.webrtcbutton.inactive {
    background-color: #bdbdbd; /* Grey for inactive buttons */
}

.webrtcbutton.inactive i {
    color: #757575; /* Grey icons for inactive state */
}
